@font-face {
    font-family: comic-sans-ms;
    src: url(assets/fonts/comicsans.ttf);
}
body {
    margin: auto;
    padding: auto;
    width: 100%;
    height: 100vh;
    font-family: "comic-sans-ms";
    background-color: #ffffff;
    overflow-y: hidden;
    overflow-x: hidden;
}
.page-stuff {
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
}
.topbar-main {
    background: rgb(237,250,57);
    background: linear-gradient(93deg, rgba(237,250,57,1) 0%, rgba(100,227,106,1) 47%, rgba(45,192,255,1) 100%);
    width: 100%;
    height: 26px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 5;
}

.tb-left {
    width: 100%;
    height: 38px;
    left: 6px;
    top: -2px;
    font-size: 21px;
    word-wrap: normal;
    position: absolute;
    font-weight: bolder;
    color: black;
}

.tb-right {
    width: 100%;
    height: 38px;
    right: 6px;
    top: 3px;
    font-size: 40px;
    word-wrap: normal;
    position: fixed;
    font-weight: bold;
    color: black;
    text-align: right;
    word-spacing: 20px;
    display: inline;
}

.button1 {
    width: 85px;
    height: 100%;
    right: 0px;
    top: -6px;
    font-size: 21px;
    word-wrap: normal;
    position: absolute;
    font-weight: bold;
    color: black;
    text-align: center;
    background-color: #ff000000;
    border-color: #00000000;
    font-family: "comic-sans-ms";
}
.button2 {
    width: 120px;
    height: 100%;
    right: 90px;
    top: -6px;
    font-size: 21px;
    word-wrap: normal;
    position: absolute;
    font-weight: bold;
    color: black;
    text-align: center;
    background-color: #ff000000;
    border-color: #00000000;
    font-family: "comic-sans-ms";
}

.under-topbar {
    background: #ffffff;
    width: 100%;
    height: calc(100% - 38px);
    top: 38px;
    left: 0px;
    position: absolute;
    padding: 10px;
}

.textarea {
    width: calc(100% - 300px);
    height: 100%;
    position: fixed;
    background: #ffffff;
    top: 28px;
    left: 5px;
    z-index: 3;
}

.photogallery {
    right: -20px;
    top: 90px;
    width: 280px;
    height: 1500px;
    position: fixed;
    background: #C7C7C7;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    z-index: 2;
}
.photogallery-header {
    right: 0px;
    top: 26px;
    width: 280px;
    height: 64px;
    position: fixed;
    background: #9e9e9e;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    z-index: 4;
}

.image1 {
    background: url(assets/png.png);
    width: calc(100% - 20px);
    height: 420px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}
.image2 {
    background: url(assets/IMG_2582.jpg);
    width: calc(100% - 20px);
    height: 390px;
    position: absolute;
    top: 440px;
    left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}