@font-face {
    font-family: comic-sans-ms;
    src: url(assets/fonts/comicsans.ttf);
}
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    font-family: "comic-sans-ms";
    background-color: #ffffff;
    user-select: none; 
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}
.page-stuff {
    width: 100%;
    height: 100%;
    user-select: none; 
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}
.topbar-main {
    background: rgb(237,250,57);
    background: linear-gradient(93deg, rgba(237,250,57,1) 0%, rgba(100,227,106,1) 47%, rgba(45,192,255,1) 100%);
    width: 100%;
    height: 38px;
    position: fixed;
    left: 0px;
    top: 0px;
    user-select: none; 
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
    align-items: center;
}

.tb-left {
    width: 100%;
    height: 38px;
    left: 6px;
    top: -2px;
    font-size: 28px;
    word-wrap: normal;
    position: absolute;
    font-weight: bolder;
    color: black;
}

.tb-right {
    width: 100%;
    height: 38px;
    right: 6px;
    top: 3px;
    font-size: 40px;
    word-wrap: normal;
    position: fixed;
    font-weight: bold;
    color: black;
    text-align: right;
    word-spacing: 20px;
    display: inline;
}

.button1 {
    width: 85px;
    height: 100%;
    right: 0px;
    top: -6px;
    font-size: 28px;
    word-wrap: normal;
    position: absolute;
    font-weight: bold;
    color: black;
    text-align: center;
    background-color: #ff000000;
    border-color: #00000000;
    font-family: "comic-sans-ms";
}
.button2 {
    width: 120px;
    height: 100%;
    right: 90px;
    top: -6px;
    font-size: 28px;
    word-wrap: normal;
    position: absolute;
    font-weight: bold;
    color: black;
    text-align: center;
    background-color: #ff000000;
    border-color: #00000000;
    font-family: "comic-sans-ms";
}

.under-topbar {
    background: #ffffff;
    width: 100%;
    height: calc(100% - 38px);
    top: 38px;
    left: 0px;
    position: absolute;
    padding: 10px;
}